<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Inicio</span>
    </a>
    <a mat-list-item routerLink="/listbook" (click)="onSidenavClose()">
        <mat-icon>library_books</mat-icon> <span class="nav-caption">Lista de Libros</span>   
    </a>
    <a mat-list-item routerLink="/createbook" (click)="onSidenavClose()">
        <mat-icon>library_add</mat-icon><span class="nav-caption">Registrar Libro</span>
    </a>

</mat-nav-list>
